*{ /*Убрать отступы с сайта*/
margin: 0;
padding: 0;
}
body {    
    background-position: center center;      
    background-repeat: no-repeat;/*Заполнение на экране*/      
    background-attachment: fixed;      
    background-size: cover;/*Заполнение на весь экран  */      
    background-color: #04536d; 
}
button.sosi { /*---------------DELETE----------------*/
    position: absolute;
    top: 50%;
    left: 25%;
    background-color: cadetblue;
    border-radius: 10pt;
    width: 50%;
    height: 25%;
    cursor: pointer;
    font-size: 150pt;
    border-width: 10pt;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
main {
    display: block;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(180deg, rgba(210, 243, 194, 0.2) 0%, rgba(232, 238, 192, 0.096875) 51.56%, rgba(196, 196, 196, 0) 100%);
    box-sizing: border-box;
    backdrop-filter: blur(10pt);
    border-radius: 30pt;
    width: 100%;
    padding: 5pt 20pt;
}
#page_1 {
    width: 100%;
    height: 96vh;
    margin: 20pt 0pt;
    border-radius: 30pt;
    background-image: url('../images/theme/portrait.jpg');      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #04536d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.pageLink { /*Ссылка элемента старницы в отдельном блоке, чтобы при скроле через якорь она была посередине*/
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#page_2 {
    width: 100%;
    height: 96vh;
    margin: 20pt 0pt;
    border-radius: 30pt;
    background-image: url('../images/theme/plans.jpg');      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #04536d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
#page_3 {
    width: 100%;
    height: 96vh;
    margin: 20pt 0pt;
    border-radius: 30pt;
    background-image: url('../images/theme/i_am.jpg');      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #04536d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
#page_4 {
    width: 100%;
    height: 96vh;
    margin: 20pt 0pt;
    border-radius: 30pt;
    background-image: url('../images/theme/mobile.jpg');      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #04536d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
div a {
    text-decoration: none;
}
/*
text-transform: uppercase - трансформация текста 
word-spacing: 20px - расстояние между словами
letter-spacing: 5px - рсстояние между символами
line-height: 10px - расстояние между строками
+ примемнение стилей к тексту: перечеркивание, подчеркивание и т.д.
*/
main a {
    text-decoration: none;
    color: #fff;
    font-size: 80pt;
    font-weight: 600;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.5;
}
main a:hover {
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/*Шрифты от гугл
font-family: 'Caveat', cursive; *от 400 до 700*
font-family: 'Pacifico', cursive; *400*
font-family: 'Train One', cursive; *400*
font-family: 'Yanone Kaffeesatz', sans-serif; *от 200 до 700*
*/
/*Блок с ссылками*/
/*div.social_link:hover a.link:not(:hover){
    opacity: 0.5;
}*/
/* тоже самое что и снизу*/

.testDiv { /*---------------DELETE----------------*/
    position: relative;
    left: 17%;
    background-color: greenyellow;
    width: 66%;
    height: 200pt;
    border-width: 10pt;
    border-radius: 10pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#testAnim, div.test  { /*---------------DELETE----------------*/
    color: blue;
    background-color: crimson;
    width: 20%;
    border-width: 10pt;
    border-radius: 10pt;
    font-size: 60pt;
    font-weight: 600;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    margin: 10pt;
    padding: 10pt;

    position: relative;
}
#testAnim {
    animation-name: Arrow1; /*Имя анимации для привязки к элементу*/
    animation-duration: 3s; /*Время анимации*/
    animation-timing-function: inline; /*Сценарий развития анимаций между ключивыми кадрами*/
    animation-iteration-count: 2; /*Количкство повторов ключевых кадров в разах. infinite - анимация бесконечно*/
    animation-direction: alternate; /*Тип и направление воспроизведения ключевых кадров*/
    animation-play-state: running; /*Запуск или остановка анимации оп определенному событию наведение мыши и т.д.*/
    animation-delay: 0s; /*Задержка перед началом анимации*/
    animation-fill-mode: none; /*Применяемые свойства по завершению анимации*/

}
#testAnim2:hover, #testAnim:hover {
    animation-name: Arrow2; /*Имя анимации для привязки к элементу*/
    animation-duration: 3s; /*Время анимации*/
    animation-timing-function: inline; /*Сценарий развития анимаций между ключивыми кадрами*/
    animation-iteration-count: 2; /*Количкство повторов ключевых кадров в разах. infinite - анимация бесконечно*/
    animation-direction: alternate; /*Тип и направление воспроизведения ключевых кадров*/
    animation-play-state: running; /*Запуск или остановка анимации оп определенному событию наведение мыши и т.д.*/
    animation-delay: 0s; /*Задержка перед началом анимации*/
    animation-fill-mode: none; /*Применяемые свойства по завершению анимации*/

}
        
@keyframes Arrow1{

    0% {
        top: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        top: 300px;
    }
}
@keyframes Arrow2{

    0% {
        top: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        top: 300px;
    }
}
