*{ /*Убрать отступы с сайта*/
margin: 0;
padding: 0;
}
body {
    background-image: url('../images/bg_1.jpg');      
    background-position: center center;      
    background-repeat: no-repeat;/*Заполнение на экране*/      
    background-attachment: fixed;      
    background-size: cover;/*Заполнение на весь экран  */      
    background-color: #04536d;
}
button.sosi {
    position: absolute;
    top: 50%;
    left: 25%;
    background-color: cadetblue;
    border-radius: 10pt;
    width: 50%;
    height: 25%;
    cursor: pointer;
    font-size: 150pt;
    border-width: 10pt;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
main {
    display: block;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(180deg, rgba(210, 243, 194, 0.2) 0%, rgba(232, 238, 192, 0.096875) 51.56%, rgba(196, 196, 196, 0) 100%);
    box-sizing: border-box;
    backdrop-filter: blur(10pt);
    border-radius: 30pt;
    width: 100%;
    padding: 0.5% 2%;
}
#page_1 {
    width: 100%;
    height: 94vh;
    margin: 2% 0%;
    border-radius: 30pt;
    background-image: url('../images/portrait.jpg');      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #04536d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#page_2 {
    width: 100%;
    height: 94vh;
    margin: 2% 0%;
    border-radius: 30pt;
    background-image: url('../images/plans.jpg');      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #04536d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
#page_3 {
    width: 100%;
    height: 94vh;
    margin: 2% 0%;
    border-radius: 30pt;
    background-image: url('../images/i_am.jpg');      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #04536d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
#page_4 {
    width: 100%;
    height: 94vh;
    margin: 2% 0%;
    border-radius: 30pt;
    background-image: url('../images/mobile.jpg');      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #04536d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
div.page_main a {
    text-decoration: none;
}
/*
text-transform: uppercase - трансформация текста 
word-spacing: 20px - расстояние между словами
letter-spacing: 5px - рсстояние между символами
line-height: 10px - расстояние между строками
+ примемнение стилей к тексту: перечеркивание, подчеркивание и т.д.
*/
main a {
    text-decoration: none;
    color: #fff;
    font-size: 80pt;
    font-weight: 600;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.5;
}
main a:hover {
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/*Шрифты от гугл
font-family: 'Caveat', cursive; *от 400 до 700*
font-family: 'Pacifico', cursive; *400*
font-family: 'Train One', cursive; *400*
font-family: 'Yanone Kaffeesatz', sans-serif; *от 200 до 700*
*/
/*Блок с ссылками*/
/*div.social_link:hover a.link:not(:hover){
    opacity: 0.5;
}*/
/* тоже самое что и снизу*/