*{ /*Убрать отступы с сайта*/
margin: 0;
padding: 0;
}
/*Шрифты от гугл
font-family: 'Caveat', cursive; *от 400 до 700*
font-family: 'Pacifico', cursive; *400*
font-family: 'Train One', cursive; *400*
font-family: 'Yanone Kaffeesatz', sans-serif; *от 200 до 700*
*/
body {
    width: 100%;
    background-image: url('../images/bg_2.jpg');      
    background-position: center center;      
    background-repeat: no-repeat;/*Заполнение на экране*/      
    background-attachment: fixed;      
    background-size: cover;/*Заполнение на весь экран  */      
    background-color: #04536d;
}
div.scroll {
    position: absolute;
    bottom: 1%;
    left: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a.scroll_t {
    text-decoration: none;
    color: whitesmoke;
    font-size: 40pt;
    font-weight: 300;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;
}
main {
    /*display: flex;
    flex-direction: row;
    justify-content: center;*/
    background: linear-gradient(180deg, rgba(210, 243, 194, 0.2) 0%, rgba(232, 238, 192, 0.096875) 51.56%, rgba(196, 196, 196, 0) 100%);
    box-sizing: border-box;
    backdrop-filter: blur(10pt);
    border-radius: 30pt;
    width: 100%;
    padding: 2%;
}
/*
div.page_main a {
    text-decoration: none;
}
*/
/*
text-transform: uppercase - трансформация текста 
word-spacing: 20px - расстояние между словами
letter-spacing: 5px - рсстояние между символами
line-height: 10px - расстояние между строками
+ примемнение стилей к тексту: перечеркивание, подчеркивание и т.д.
*/
main a {
    text-decoration: none;
    color: #000;
    font-size: 50pt;
    font-weight: 600;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.8;
}
button.button_filter:hover a:not(:hover) {
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
button.button_filter a:hover  {
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
button.button_filter img {
    cursor: pointer;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    border-radius: 20pt;
}
button.button_filter img, button.button_filter {
    height: 175pt;
    /*height: 80pt; для медиа запроса под мобилу*/
    position: relative;
    object-fit: cover;
    border: none;
    outline: none;
    background-color: unset;
}
button.button_filter:hover {
    border-radius: 20pt;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}
div.filter_lenta {
    height: auto;
    padding-bottom: 2%;
    display: grid;
    grid-gap: 20pt;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    /*grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr); для медиа запроса под мобилу*/
}
button.button_filter a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}
div.lenta {
    width: 100%;
    display: grid;
    grid-gap: 20pt;/*отступы между ячейками*/
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /*repeat для повторения, auto-fit автоматическое количество, minmax минимальное и максимальное значение*/
    grid-auto-rows: auto; 
    /*auto добовляет автоматические сторки от колличества контента*/
}
div.lenta div img {
    /*height: 25%;
    width: 100%;*/
    object-fit: contain;
    
}
img.img_lenta {
    width: 100%;
    border-radius: 20pt;
    text-align: center;

}
img.img_lenta:hover {
    width: 100%;
    border-radius: 20pt;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
}
div.lenta div{
    /*background-color: yellowgreen;
    opacity: 0.7;*/
    border-color: black;
    border-style: inset;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
#i1 {
    grid-row: span 2;
}
#i4 {
    grid-row: span 2;    
}
#i5 {
    grid-row: span 2;
}
/*#i5 {
    grid-row: 3/5;
}
#i7 {
    grid-column: 3/5;
}
#i8 {
    grid-column: 2/4;
}*/

/*Блок с ссылками*/
/*div.social_link:hover a.link:not(:hover){
    opacity: 0.5;
}*/